@font-face {
  font-family: "zabras";
  src: url("fonts/Zabars.ttf") format("truetype");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family: "zabras", Arial, Helvetica, sans-serif;
  background-image: url("assets/img/desert.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 22px;
  text-align: center;
}
h1 {
  font-size: 64px;
  margin-bottom: 20px;
}
h2 {
    font-size: 32px;
  border-bottom: 2px solid #d32f2f;
  padding-bottom: 10px;
  margin-top: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: blue;
}