@font-face {
    font-family: 'zabras';
    src: url('fonts/Zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-image: url('assets/img/desert.png');
    background-position: center;
}

canvas {
    background-color: black;
    display: block;
}

#position-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

h1 {
    font-size: 64px;
    margin-bottom: 20px;
}