@font-face {
    font-family: 'zabras';
    src: url('fonts/Zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    background-image: url('assets/img/desert.png');
    background-position: center;
}

canvas {
    background-color: black;
    display: block;
}

#position-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

h1 {
    font-size: 64px;
    margin-bottom: 20px;
}

.d-none {
    display: none !important;; 
}

#start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 255px;
    width: 720px;
    height: 480px;
    background-image: url('assets/img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-size: 100% 100%;
}

#start-screen button {
    position: relative;
    font-size: 18px;
    top: 35px;
    height: 25px;
    width: 120px;
    background-color: rgb(238, 238, 125);
    border: none;
    border-radius: 25px;
    color: black;
    cursor: pointer;
}